@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cairo";
  src: url("./Cairo-SemiBold.ttf");
  font-weight: 400;
  font-display: swap;
}
body{
  background-color: #222;
  font-family: 'Cairo' !important;

}

.background{

  background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, rgba(0, 0, 0, 0.49) 78.62%);
}